@using Microsoft.AspNetCore.Components;
@{
    var culture = LanguageResource["Culture"];
    string path = @Context.Request.PathBase;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    @*<meta name="theme-color" content="#111111">*@
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Matheus - MyPage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="@path/css/site.min.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/7d5863e673.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
</head>
<body>
    <header>
        <div class="menu" id="menu">
            <div class="menu-container" id="menu-container">
                <div class="perfil">
                    <div class="my-photo-wrapper">
                        <img class="my-photo" id="my-photo" src="~/img/perfil.png" alt="My perfil photo" loading="lazy" />
                    </div>
                    <p class="name" id="name">
                        <a asp-controller="home" asp-action="index">MyPage</a>
                    </p>
                </div>

                <div class="menu-items" id="menu-items">
                    <a asp-controller="home" asp-action="index" class="menu-item">
                        @LanguageResource["AboutMenu"]
                    </a>
                    <a asp-controller="projects" asp-action="index" class="menu-item">
                        @LanguageResource["ProjectsMenu"]
                    </a>
                    <div class="menu-languages">
                        <a asp-controller="language" asp-action="change" asp-route-culture="en-US" class="language-link">
                            <img class="menu-language-flag @(culture == "en_US" ? "menu-language-flag-active" : "")" src="~/img/en-us.svg" />
                        </a>
                        <a asp-controller="language" asp-action="change" asp-route-culture="pt-BR" class="language-link">
                            <img class="menu-language-flag @(culture == "pt_BR" ? "menu-language-flag-active" : "")" id="ptBR-flag" src="~/img/pt-br.svg" />
                        </a>
                    </div>
                </div>

                <div class="material-symbols-outlined"
                     id="menu-button-mobile"
                     onclick="handleMobileMenu()">
                    menu
                </div>
            </div>
            <div class="menu-mobile" id="menu-mobile">
                <div class="menu-items-mobile">
                    <a asp-controller="home" asp-action="index" class="menu-item">
                        @LanguageResource["AboutMenu"]
                    </a>
                    <a asp-controller="projects" asp-action="index" class="menu-item">
                        @LanguageResource["ProjectsMenu"]
                    </a>
                </div>
                <div class="menu-languages-mobile">
                    <a asp-controller="language" asp-action="change" asp-route-culture="en-US" class="language-link">
                        <img class="menu-language-flag @(culture == "en_US" ? "menu-language-flag-active" : "")" src="~/img/en-us.svg" />
                    </a>
                    <a asp-controller="language" asp-action="change" asp-route-culture="pt-BR" class="language-link">
                        <img class="menu-language-flag @(culture == "pt_BR" ? "menu-language-flag-active" : "")" src="~/img/pt-br.svg" />
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <div class="body-footer-container">
        @RenderBody()

        @{
            var pageName = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower();
        }
        <footer class="contact-external-container @(pageName == "projects" ? "projects-footer" : "")" id="contact-external-container">
            <div class="mini-title">@LanguageResource["Contact"]</div>
            <div class="contact-container">
                <div class="contact" onclick="window.open('https://github.com/assis402','github')">
                    <img class="contact-logo" src="~/img/github.svg" />
                    <span>Github</span>
                    <img class="out-logo" src="~/img/out.svg" />
                </div>
                <div class="contact" onclick="window.open('https://www.linkedin.com/in/assisdematheus/','linkedin')">
                    <img class="contact-logo" src="~/img/linkedin.svg" />
                    <span>Linkedin</span>
                    <img class="out-logo" src="~/img/out.svg" />
                </div>
                <div class="contact email" onclick="">
                    <img class="contact-logo" src="~/img/email.svg" />
                    <span>assis4002@gmail.com</span>
                    <img id="email" class="copy-img" src="~/img/copy.svg" onclick="copyEmail('assis4002@gmail.com')"/>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
<script src="~/js/site.min.js" asp-append-version="true"></script>