@using MyPage.Application.Helpers;
@using MyPage.Application.Models.Pages;
@model ProjectsPageModel

<div class="modal" id="modal">
    <div class="modal-internal" onclick="closeVideoModel()">
        <iframe class="video"
                id="video"
                width="560"
                height="315"
                src=""
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </div>
</div>
<div class="projects-external-container">
    <form asp-action="Index" method="get" class="search-form">
        <div class="search-container">
            <input class="search-box" type="text" name="SearchFilter" value="@ViewData["SearchFilter"]" placeholder="@LanguageResource["SearchDefaultText"]" />
            <input type="hidden" name="TagFilter" value="@ViewData["TagFilter"]" id="tagFilter" />
            <div class="search-buttons">
                <input type="submit" value="" class="search-button" />
                <a asp-action="Index" class="clear-filter-button"></a>
            </div>
        </div>
        <div class="tag-list">
            @foreach (var tag in Model.TagList)
            {
                if (tag.SelectedToFilter)
                {
                    <div id="@tag.TagName" class="project-tag-search tag-selected" onclick="addOrRemoveSelectedTag('@tag.TagName')">@tag.TagName</div>
                }
                else
                {
                    <div id="@tag.TagName" class="project-tag-search" onclick="addOrRemoveSelectedTag('@tag.TagName')">@tag.TagName</div>
                }
            }
        </div>
    </form>
    <div class="projects-container">
        @foreach (var project in Model.ProjectList)
        {
            <div class="project">
                <div class="project-content">
                    <div class="project-header">
                        <span class="project-title">@project.Title</span>
                        <div class="project-tags">
                            @foreach (var tag in project.CustomProperties.Tags)
                            {
                                <div class="project-tag">@tag</div>
                            }
                        </div>
                    </div>
                    <div class="project-body">
                        <div class="project-mini-description">@project.CustomProperties.Description</div>
                        <div class="project-links">
                            <div class="project-link" onclick="window.open('@project.Url','github')">
                                <span>github</span>
                                <i class="fab fa-github project-link-icon"></i>
                            </div>
                            @if (project.CustomProperties.NuGetUrl.IsNotNullAndNotEmpty())
                            {
                                <div class="project-link" onclick="window.open('@project.CustomProperties.NuGetUrl','nuget')">
                                    <span>nuget</span>
                                    <img class="project-link-img-nuget" src="~/img/nuget.png" />
                                </div>
                            }
                            @if (project.CustomProperties.VideoUrl.IsNotNullAndNotEmpty())
                            {
                                <div class="project-link" onclick="openVideoModel('@project.CustomProperties.VideoUrl')">
                                    <span>@LanguageResource["VideoText"]</span>
                                    <i class="far fa-play-circle project-link-icon"></i>
                                </div>
                            }
                            @if (project.CustomProperties.SwaggerUrl.IsNotNullAndNotEmpty())
                            {
                                <div class="project-link" onclick="window.open('@project.CustomProperties.SwaggerUrl','github')">
                                    <span>swagger</span>
                                    <img class="project-link-img" src="~/img/swagger.png" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="project-bar"></div>
            </div>
        }
    </div>
</div>