@using MyPage.Application.Models.Pages;
@using MyPage.Application.Models.PartialViews;
@model AboutPageModel;

<div class="about-external-container" id="about-external-container">
    <div class="background"></div>
    <div class="about-container">
        <div class="about-minified">
            <p class="about-title">@LanguageResource["AboutTitle_Greeting"] <br /> <b>@LanguageResource["AboutTitle_Name"]</b></p>
            <div class="main-stack">
                <div class="main-stack-header">
                    <p class="main-stack-title">
                        @LanguageResource["MainStackTitle"]
                    </p>
                    <p class="main-stack-body">
                        @LanguageResource["MainStackBody"]
                    </p>
                </div>
                <div class="main-stack-footer">
                    <img class="tech-icon" src="~/img/c-sharp.png" alt="C#" />
                    <img class="tech-icon" src="~/img/dotnet.png" alt=".NET" />
                </div>
            </div>
        </div>
        <div class="presentation" id="presentation">
            <p class="presentation-text">
                @LanguageResource["PresentationText"]
            </p>
            <div class="presentation-buttons">
                <a href="#about-more" class="gradient-button" style="border: 1px solid #0c0f12;">
                    <img class="about-icon" src="~/img/info.svg" />
                    <div class="inner-button">@LanguageResource["AboutButton"]</div>
                </a>
                <a asp-controller="Projects" asp-action="Index" class="outlined-button">
                    <img class="projects-icon" src="~/img/projects.svg" />
                    <div class="inner-button">@LanguageResource["ProjectsButton"]</div>
                </a>
            </div>
        </div>
    </div>
    <div class="about-top-divisor" id="about-more"></div>
</div>
<div class="black-external-container">
    <div class="black-container">
        <div class="mini-title">@LanguageResource["AboutTitle"]</div>
        <div id="about-body-container">
            <div class="about-body-internal-container">
                <p class="about-body" id="about-body-1">
                    @string.Format(LanguageResource["AboutBody_01"], Model.WorkYears, Model.WorkMonths)
                    <span class="emphasis">@LanguageResource["AboutEmphases_01"]</span>
                </p>
                <p class="about-body" id="about-body-2">
                    @LanguageResource["AboutBody_02"] <span class="emphasis">Angular</span>@LanguageResource["AboutBody_02.1"]
                    <span class="emphasis"> @LanguageResource["AboutEmphases_02"]</span>
                </p>
                <p class="about-body" id="about-body-3">
                    @LanguageResource["AboutBody_03"]
                </p>
            </div>
            <div class="about-body-internal-container" id="about-skills">
                <div class="mini-sub-title">@LanguageResource["SkillsTitle"]</div>
                <div class="about-skills">
                    @{
                        var animationDelay = 0;
                        await Html.RenderPartialAsync("_Skill", new SkillModel("C# .NET", 4, animationDelay += 200));
                        await Html.RenderPartialAsync("_Skill", new SkillModel(LanguageResource["UnitTest"], 4, animationDelay += 200));
                        await Html.RenderPartialAsync("_Skill", new SkillModel(LanguageResource["IntegrationTest"], 3, animationDelay += 200));
                        await Html.RenderPartialAsync("_Skill", new SkillModel("Typescript", 2, animationDelay += 200));
                        await Html.RenderPartialAsync("_Skill", new SkillModel("Angular", 2, animationDelay += 200));
                        await Html.RenderPartialAsync("_Skill", new SkillModel("React Native", 2, animationDelay += 200));
                        await Html.RenderPartialAsync("_Skill", new SkillModel("Cloud Computing (Azure)", 2, animationDelay += 200));
                        await Html.RenderPartialAsync("_Skill", new SkillModel("React", 1, animationDelay += 200));
                        await Html.RenderPartialAsync("_Skill", new SkillModel("Devops", 1, animationDelay += 200));
                    }
                    <p class="about-skills-obs">@LanguageResource["HardSkillsObs"]</p>
                </div>
            </div>
            <div class="about-body-internal-container">
                <div class="mini-sub-title">@LanguageResource["CertificationsTitle"]</div>
                <div class="about-certifications">
                    <a href="https://www.credly.com/earner/earned/badge/5cbc2b5a-1af3-4063-bcd3-daac3ec79ede">
                        <p>Azure Fundamentals<br />(AZ-900)</p>
                        <img src="~/img/az900.png" />
                    </a>
                    <a href="https://www.credly.com/earner/earned/badge/c72e321b-57ff-456d-98f0-143ed07bb575">
                        <p>Azure Developer Associate<br />(AZ-204)</p>
                        <img src="~/img/az204.png" />
                    </a>
                </div>
            </div>
            <div class="presentation-buttons second-buttons">
                <a asp-controller="Projects" asp-action="Index" class="gradient-button second-button">
                    <img class="projects-icon" src="~/img/projects.svg" />
                    <div class="inner-button">@LanguageResource["SecondProjectsButton"]</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="gradient-external-container">
    <div class="gradient-container">
        <div class="mini-title">@LanguageResource["Background"]</div>
        <div class="timeline-body">
            <div class="timeline">
                <div class="timeline-exp">
                    <div class="timeline-exp-circle labsit-full-circle"></div>
                    <div class="timeline-exp-external">
                        <div class="timeline-exp-date">
                            @LanguageResource["LabsitDate_01.1"]
                            <img class="timeline-arrow" src="~/img/line.svg" id="timeline-arrow" />
                            @LanguageResource["LabsitDate_01"]
                        </div>
                        <div class="timeline-exp-internal" id="timeline-exp-internal-exp3">
                            <span class="timeline-exp-title">@LanguageResource["LabsitTitle_01"]</span>
                            <div class="timeline-exp-subtitle">
                                @LanguageResource["CompanySubTitle"]
                                <a href="https://ri.dotz.com.br/quem-somos/">Dotz Inc.</a>
                            </div>
                            <div class="timeline-exp-div timeline-resume" id="timeline-resume">
                                @LanguageResource["LabsitResume_01"]
                            </div>

                            <div class="more more-timeline" onclick="seeMoreTimeline('exp3')" id="timeline-seemore-exp3">
                                <p class="more-text more-text-exp">@LanguageResource["SeeMore"]</p>
                                <span class="material-symbols-outlined">expand_more</span>
                            </div>

                            <div class="timeline-exp-div timeline-exp-details" id="timeline-techs-exp3">
                                <p class="timeline-exp-p">@LanguageResource["Technologies"]: </p>
                                @LanguageResource["LabsitTechs_01"]
                            </div>
                            <div class="timeline-exp-div timeline-exp-details" id="timeline-attri-exp3">
                                <p class="timeline-exp-p">@LanguageResource["Attributions"]:</p>
                                <ul>
                                    @Html.Raw(LanguageResource["LabsitAttri_01"])
                                </ul>
                            </div>
                            <div class="more more-timeline timeline-exp-details" onclick="seeLessTimeline('exp3')" id="timeline-seeless-exp3">
                                <p class="more-text more-text-exp">@LanguageResource["SeeLess"]</p>
                                <span class="material-symbols-outlined">expand_less</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-bar labsit-bar" id="timeline-bar-exp3"></div>
                <div class="timeline-company" onclick="window.open('https://labsit.io/','labsit')">
                    <span class="timeline-company-arrow labsit-arrow"></span>
                    <span class="material-symbols-outlined company-icon" title="@LanguageResource["Company"]">
                        work
                    </span>
                    <span title="@LanguageResource["Company"]">Labsit</span>
                </div>
            </div>
            <div class="timeline-exp margin-top">
                <div class="timeline-exp-circle fitbank-full-circle"></div>
                <div class="timeline-exp-external">
                    <div class="timeline-exp-date">
                        @LanguageResource["FitbankDate_02"]
                        <img class="timeline-arrow" src="~/img/line.svg" />
                        @LanguageResource["FitbankDate_02.1"]
                    </div>
                    <div class="timeline-exp-internal" id="timeline-exp-internal-exp2">
                        <span class="timeline-exp-title">@LanguageResource["FitbankTitle_02"]</span>
                        <div class="timeline-exp-div timeline-resume" id="timeline-resume">
                            @LanguageResource["FitbankResume_02"]
                        </div>

                        <div class="more more-timeline" onclick="seeMoreTimeline('exp2')" id="timeline-seemore-exp2">
                            <p class="more-text more-text-exp">@LanguageResource["SeeMore"]</p>
                            <span class="material-symbols-outlined">expand_more</span>
                        </div>

                        <div class="timeline-exp-div timeline-exp-details" id="timeline-techs-exp2">
                            <p class="timeline-exp-p">@LanguageResource["Technologies"]: </p>
                            @LanguageResource["FitbankTechs_02"]
                        </div>
                        <div class="timeline-exp-div timeline-exp-details" id="timeline-attri-exp2">
                            <p class="timeline-exp-p">@LanguageResource["Attributions"]:</p>
                            <ul>
                                @Html.Raw(LanguageResource["FitbankAttri_02"])
                            </ul>
                        </div>
                        <div class="more more-timeline timeline-exp-details" onclick="seeLessTimeline('exp2')" id="timeline-seeless-exp2">
                            <p class="more-text more-text-exp">@LanguageResource["SeeLess"]</p>
                            <span class="material-symbols-outlined">expand_less</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline-bar fitbank-bar" id="timeline-bar-exp2"></div>
            <div class="timeline-exp-wrapper">
                <div class="timeline-exp">
                    <div class="timeline-exp-circle fitbank-border-circle"></div>
                    <div class="timeline-exp-external">
                        <div class="timeline-exp-date">
                            @LanguageResource["FitbankDate_01"]
                            <img class="timeline-arrow" src="~/img/line.svg" />
                            @LanguageResource["FitbankDate_01.1"]
                        </div>
                        <div class="timeline-exp-internal" id="timeline-exp-internal-exp1">
                            <span class="timeline-exp-title">@LanguageResource["FitbankTitle_01"]</span>
                            <div class="timeline-exp-div timeline-resume" id="timeline-resume">
                                @LanguageResource["FitbankResume_01"]
                            </div>

                            <div class="more more-timeline" onclick="seeMoreTimeline('exp1')" id="timeline-seemore-exp1">
                                <p class="more-text more-text-exp">@LanguageResource["SeeMore"]</p>
                                <span class="material-symbols-outlined">expand_more</span>
                            </div>
                            <div class="timeline-exp-div timeline-exp-details" id="timeline-techs-exp1">
                            </div>
                            <div class="timeline-exp-div timeline-exp-details" id="timeline-attri-exp1">
                                <p class="timeline-exp-p">@LanguageResource["Attributions"]:</p>
                                <ul>
                                    @Html.Raw(LanguageResource["FitbankAttri_01"])
                                </ul>
                            </div>
                            <div class="more more-timeline timeline-exp-details" onclick="seeLessTimeline('exp1')" id="timeline-seeless-exp1">
                                <p class="more-text more-text-exp">@LanguageResource["SeeLess"]</p>
                                <span class="material-symbols-outlined">expand_less</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-company" onclick="window.open('https://fitbank.com.br/','fitbank')">
                    <span class="timeline-company-arrow fitbank-arrow"></span>
                    <span class="material-symbols-outlined company-icon" title="@LanguageResource["Company"]">
                        work
                    </span>
                    <span title="@LanguageResource["Company"]">FitBank</span>
                </div>
                <div class="timeline-bar fitbank-bar" id="timeline-bar-exp1"></div>
            </div>
        </div>
        <div class="more" onclick="window.open('https://linkedin.com/in/assisdematheus/','linkedin')" style="z-index: 2">
            <span class="material-symbols-outlined">more_horiz</span>
            <p class="more-text">@LanguageResource["BackgroundMore"]</p>
        </div>
    </div>
</div>
<div class="black-external-container">
    <div class="black-container">
        <div class="mini-title">@LanguageResource["MediumTitle"]</div>
        @if (LanguageResource["Culture"] == "pt_BR")
        {
            <div class="mini-sub-title">(apenas em inglês)</div>
        }
        <div class="medium-body">
            @foreach (var publication in Model.PublicationList.Take(5))
            {
                <div class="medium-card" onclick="window.open('@publication.Url','medium post')">
                    <div class="medium-card-img">
                        <img src="@publication.ImageUrl" />
                    </div>
                    <div class="medium-card-content">
                        <span class="medium-card-title">@publication.Title</span>
                        <span class="medium-card-description">@publication.Description</span>
                        <span class="medium-card-date">@LanguageResource["MediumPostDate"] @publication.GetFormatedDate()</span>
                    </div>
                </div>
                @if (Model.PublicationList.Last() != publication)
                {
                    <div class="medium-card-divisor"></div>
                }
            }
        </div>
        @if (Model.PublicationList.Count() > 5)
        {
            <div class="more" onclick="window.open('@Settings.MediumSettings.UserUrl','medium')">
                <span class="material-symbols-outlined">more_horiz</span>
                <p class="more-text">@LanguageResource["MediumMore"]</p>
            </div>
        }
    </div>
</div>
<div class="gradient-external-container">
    <div class="gradient-container">
        <div class="mini-title">@LanguageResource["CoursesTitle"]</div>
        <div class="courses-body">
            @{
                foreach (var courseCertificate in Model.CourseCertificateList.Take(6))
                {
                    await Html.RenderPartialAsync("~/Views/Courses/_CourseCard.cshtml", courseCertificate);
                }
            }
        </div>
        <div class="more" onclick="window.open('@Settings.MediumSettings.UserUrl','medium')">
            <span class="material-symbols-outlined">more_horiz</span>
            <p class="more-text">@LanguageResource["CoursesMore"]</p>
        </div>
    </div>
</div>