@using MyPage.Application.Models.Pages;
@model AboutPageModel;

<div class="about-external-container" id="about-external-container">
    <div class="about-container">
        <div class="about-minified">
            <p class="about-title">@LanguageResource["AboutTitle_Greeting"] <br /> <b>@LanguageResource["AboutTitle_Name"]</b></p>
            <div class="main-stack">
                <div class="main-stack-header">
                    <p class="main-stack-title">
                        @LanguageResource["MainStackTitle"]
                    </p>
                    <p class="main-stack-body">
                        @LanguageResource["MainStackBody"]
                    </p>
                </div>
                <div class="main-stack-footer">
                    <img class="tech-icon" src="~/img/c-sharp.png" alt="C#" />
                    <img class="tech-icon" src="~/img/dotnet.png" alt=".NET" />
                </div>
            </div>
        </div>
        <div class="presentation" id="presentation">
            <p class="presentation-text">
                @LanguageResource["PresentationText"]
            </p>
            <div class="presentation-buttons">
                <div class="about-button" onclick="showAbout()">
                    <img class="about-icon" src="~/img/info.svg" />
                    <div class="inner-button">@LanguageResource["AboutButton"]</div>
                </div>
                <a asp-controller="projects" asp-action="index" class="projects-button">
                    <img class="projects-icon" src="~/img/projects.svg" />
                    <div class="inner-button">@LanguageResource["ProjectsButton"]</div>
                </a>
            </div>
        </div>
        <div id="about-body-container">
            <p class="about-body" id="about-body-1">
                @string.Format(LanguageResource["AboutBody_01"], Model.WorkYears, Model.WorkMonths)
                <span class="emphasis">@LanguageResource["AboutEmphases_01"]</span>
            </p>
            <p class="about-body" id="about-body-2">
                @LanguageResource["AboutBody_02"] <span class="emphasis">Angular</span>@LanguageResource["AboutBody_02.1"]
                <span class="emphasis"> @LanguageResource["AboutEmphases_02"]</span>
            </p>
            <p class="about-body" id="about-body-3">
                @LanguageResource["AboutBody_03"]
            </p>
            <div class="presentation-buttons second-buttons">
                <a asp-controller="projects" asp-action="index" class="about-button second-button">
                    <img class="projects-icon" src="~/img/projects.svg" />
                    <div class="inner-button">@LanguageResource["SecondProjectsButton"]</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="gradient-external-container">
    <div class="gradient-container">
        <div class="mini-title">@LanguageResource["Background"]</div>
        <div class="timeline-body">
            <div class="timeline-exp">
                <div class="timeline-exp-date">@LanguageResource["LabsitDate_02"]</div>
                <div class="timeline-exp-circle labsit-full-circle"></div>
                <div class="timeline-exp-title">
                    @LanguageResource["LabsitTitle_02"]
                    <div class="timeline-exp-subtitle">@LanguageResource["LabsitSubtitle_02"]</div>
                </div>
            </div>
            <div class="timeline-bar labsit-bar"></div>
            <div class="timeline-exp-wrapper">
                <div class="timeline-exp">
                    <div class="timeline-exp-date">@LanguageResource["LabsitDate_01"]</div>
                    <div class="timeline-exp-circle labsit-border-circle"></div>
                    <div class="timeline-exp-title">
                        @LanguageResource["LabsitTitle_01"]
                        <div class="timeline-exp-subtitle">@LanguageResource["LabsitSubtitle_01"]</div>
                    </div>
                </div>
                <div class="timeline-company" onclick="window.open('https://labsit.io/','labsit')">
                    <span class="material-symbols-outlined company-icon" title="@LanguageResource["Company"]">
                        work
                    </span>
                    <span title="@LanguageResource["Company"]">Labsit</span>
                    <img class="mini-out-logo" src="~/img/out.svg" />
                    <span class="timeline-company-arrow labsit-arrow"></span>
                </div>
                <div class="timeline-bar labsit-bar"></div>
            </div>
            <div class="timeline-exp margin-top">
                <div class="timeline-exp-date">@LanguageResource["FitbankDate_02"]</div>
                <div class="timeline-exp-circle fitbank-full-circle"></div>
                <div class="timeline-exp-title">
                    @LanguageResource["FitbankTitle_02"]
                    <div class="timeline-exp-subtitle">@LanguageResource["FitbankSubtitle_02"]</div>
                </div>
            </div>
            <div class="timeline-bar fitbank-bar"></div>
            <div class="timeline-exp-wrapper">
                <div class="timeline-exp">
                    <div class="timeline-exp-date">@LanguageResource["FitbankDate_01"]</div>
                    <div class="timeline-exp-circle fitbank-border-circle"></div>
                    <div class="timeline-exp-title">
                        @LanguageResource["FitbankTitle_01"]
                        <div class="timeline-exp-subtitle">@LanguageResource["FitbankSubtitle_01"]</div>
                    </div>
                </div>
                <div class="timeline-company" onclick="window.open('https://fitbank.com.br/','fitbank')">
                    <span class="material-symbols-outlined company-icon" title="@LanguageResource["Company"]">
                        work
                    </span>
                    <span title="@LanguageResource["Company"]">FitBank</span>
                    <img class="mini-out-logo" src="~/img/out.svg" />
                    <span class="timeline-company-arrow fitbank-arrow"></span>
                </div>
                <div class="timeline-bar fitbank-bar"></div>
            </div>
        </div>
        <div class="more" onclick="window.open('https://linkedin.com/in/assisdematheus/','linkedin')">
            <span class="material-symbols-outlined">more_horiz</span>
            <p class="more-text">@LanguageResource["BackgroundMore"]</p>
        </div>
    </div>
</div>
<div class="black-external-container">
    <div class="black-container">
        <div class="mini-title">@LanguageResource["MediumTitle"]</div>
        @if (LanguageResource["Culture"] == "pt_BR")
        {
            <div class="mini-sub-title">(apenas em inglês)</div>
        }
        <div class="medium-body">
            @foreach (var publication in Model.PublicationList.Take(5))
            {
                <div class="medium-card" onclick="window.open('@publication.Url','medium post')">
                    <div class="medium-card-img">
                        <img src="@publication.ImageUrl" />
                    </div>
                    <div class="medium-card-content">
                        <span class="medium-card-title">@publication.Title</span>
                        <span class="medium-card-description">@publication.Description</span>
                        <span class="medium-card-date">@LanguageResource["MediumPostDate"] @publication.GetFormatedDate()</span>
                    </div>
                </div>
                @if (Model.PublicationList.Last() != publication)
                {
                    <div class="medium-card-divisor"></div>
                }
            }
        </div>
        @if (Model.PublicationList.Count() > 5)
        {
            <div class="more" onclick="window.open('@Settings.MediumUserUrl','medium')">
                <span class="material-symbols-outlined">more_horiz</span>
                <p class="more-text">@LanguageResource["MediumMore"]</p>
            </div>            
        }
    </div>
</div>
<div class="gradient-external-container">
    <div class="gradient-container">
        <div class="mini-title">@LanguageResource["CoursesTitle"]</div>
        @*<div class="courses-body">
            @foreach (var publication in Model.PublicationList.Take(5))
            {
                <div class="course-card">
                    <div class="course-certificate">
                        <div class="course-certificate-front-shadow"></div>
                        <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-0aa73201-1793-4fef-9628-b2cd11af91f9.jpg?v=1617970572000" alt="certificate" />
                    </div>
                    <div class="course-title">C# Primeiros Passos: Lógica de Programação e Algoritmos</div>
                    <div class="course-body">
                        <div>
                            <img src="~/img/platform.svg" alt="platform" /> Udemy
                        </div>
                        <div>
                            <img src="~/img/instructor.svg" alt="instructor" /> Nelio Alves
                        </div>
                        <div>
                            <img src="~/img/workload.svg" alt="workload" /> 36.5 horas
                        </div>
                    </div>
                </div>
            }
        </div>*@
        <div class="more">
            <span class="material-symbols-outlined">more_horiz</span>
            <p class="more-text">@LanguageResource["CoursesMore"]</p>
        </div>
    </div>
</div>